.unity-loading-overlay {
  position: absolute;
  background-color: #F9F9F9;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.unity-loading-progress {
  position: absolute;
  left: calc(50% - 48px);
  top: calc(40% - 48px);

  :global {
    .CircularProgressbar {
      width: 100%;
      vertical-align: middle;

      .CircularProgressbar-path {
        stroke: var(--color-primary);
        stroke-linecap: round;
        transition: stroke-dashoffset 0.5s ease 0s;
      }

      .CircularProgressbar-trail {
        stroke: var(--background-color);
        stroke-linecap: round;
      }

      .CircularProgressbar-text {
        fill: var(--color-primary);
        font-size: 20px;
        dominant-baseline: middle;
        text-anchor: middle;
      }
    }
  }
}

.btn-below-loading{
  position: absolute;
  width: 168px;
  left: calc(50% - 84px);
  top: calc(40% + 48px + 155px);
}
.upper-text{
  width:200px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base-lg);
  position: absolute;
  left: calc(50% - 100px);
  top: calc(40% + 48px + 48px);
}
.lower-text{
  width:400px;
  text-align: center;
  color: var(--text-color-medium);
  position: absolute;
  left: calc(50% - 200px);
  top: calc(40% + 48px + 83px);
}
