.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &--wide {
    justify-content: space-between;
  }

  &--dispersed {
    justify-content: space-around;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;

  &--up {
    justify-content: flex-start;
  }

  &--down {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &--wide {
    justify-content: space-between;
  }

  &--dispersed {
    justify-content: space-around;
  }
}


.flex-gap {
  &--medium {
    gap: 1rem;
  }

  &--small {
    gap: .5rem;
  }

  &--large {
    gap: 2rem;
  }
}

.flex--wrap {
  flex-wrap: wrap;
}
