.list-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus,
  &.highlighted {
    background-color: var(--background-color);
  }
}
