.profile-tab-list {
    flex: 0 0 64px;
    border-bottom: 1px solid var(--border-color);
}

.profile-content {
    flex: 1 1 100%;
    overflow: auto;
}

.buttons {
    position: relative;
    margin-bottom: 39px;
    right: 33px;
    gap: 16px;
    justify-content: end;

    .discard-btn,
    .submit-btn {
        width: 168px;
    }

    @media screen and (max-width: 420px) {
        margin: 0 auto;
        justify-content: center;
        right: auto;
    }
}
