.card {
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  color: var(--color-primary);
  padding: 1rem;
  border: 1px solid var(--border-color);

  &--shadow {
    box-shadow: 0 5px 10px var(--hover-shadow-color);
  }
}
