.hubs-header {
  margin-bottom: 1rem;
}

.hubs-tab-list {
  height: 64px;
  border-bottom: 1px solid var(--border-color);
}

.hubs-content {
  margin-top: 30px;
}

.search-box{
  margin-top: 30px;
  width: 49%;
}