.inline-meetings{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 19px 28px;
    width: 100%;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-h6);
    white-space: nowrap;

    &:hover {
        background: var(--background-color);
    }
}

.icon{
    margin-right: 16px;
}